<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TOP</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</head>
<body> 

<div class="container">
<h2>Login Success !!!</h2>
</div>

<div class="container">
	<h3>Options</h3>
	<h5>Go to <a th:href="@{/user}">USER page</a></h5>
	<h5>Go to <a th:href="@{/admin}">ADMIN page</a></h5>
</div>

</body>
</html>